@import "tailwindcss";

:root {
  --ast-indigo: #011963;
  --ast-atlantic: #0744a8;
  --ast-cobalt: #0a56c6;
  --ast-sky: #b9d6fe;

  --ast-emerald: #00492c;
  --ast-forest: #03894c;
  --ast-mint: #04a45a;

  --ast-rust: #881f00;
  --ast-terracotta: #e05d2e;
  --ast-coral: #f66d3a;

  --ast-pink: #f3b1d7;
  --ast-bone: #f0f2da;
  --ast-yellow: #fdf48b;
  --ast-black: #262626;
  --ast-white: #ffffff;

  --background: var(--ast-black);
  --foreground: var(--ast-white);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}
